<div class="container">
    <div class="border">
        <div class="titleDiv">
            <h1>My Movies</h1>
            <div class="bottomBorder"></div>
        </div>
        <div *ngIf="myMovies.length !== 0" class="movieListContainer">
            <div class="movieList" *ngFor="let movie of myMovies">
                <img class="image" src={{movie.picture}} alt="" appImageErrorDirective>
                <p class="title">{{movie.name}}</p>
                <a [routerLink]="['/Movies', movie._id ]">
                    <button class="button"> Go to</button>
                </a>
            </div>
        </div>
        <div *ngIf="myMovies.length === 0">
            <button (click)="addRedirectFunc()" class="noMovies"> Add a movie <fa-icon class="faPlus" [icon]="faPlus"></fa-icon> </button>
        </div>
    </div>
</div>