<div class="commentContainer">
    <div class="addComment">
        <form class="formClass" [formGroup]="addCommentForm" (ngSubmit)="addCommentFunc()" >
            <textarea id="comment" [ngClass]="comment?.invalid && isSubmitted ? 'errorArea' : ''" type="text"
            formControlName="comment"> </textarea>
            <div class="buttonDiv">
                <button class="button" type="submit"> Add </button>
            </div>
        </form>
    </div>
    <div *ngIf = "movieId">
        <div *ngIf=" allCurrentComments|async as comnts">
            <div class="commentDiv" *ngFor="let comment of comnts">
                <p>{{comment.comment}}</p>
                <button *ngIf="comment.owner === currentUserId"> DELETE </button>
            </div>
        </div>
    </div>
</div>
