.commentContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textAreaClass {
    width: 450px;
    height: 80px;
}

.commentDiv {
    background-color: white;
}

button:disabled {
    background-color: black;
}

.commentButton {
    width: 140px;
    height: 35px;
}

.commentButton:disabled {
    background-color: black;
}
