@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

.WatchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    background-image: linear-gradient(to left bottom, #3f1fbd, #591ec2, #6e1dc7, #821ccb, #951bcf, #b408c4, #cc00b8, #e000ad, #f41592, #ff357a, #ff5367, #ff6d58);
    padding: 8px;
    border-radius: 15px;
}

.border {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
}

.bottomBorder {
    position: relative;
    bottom: 18px;
    border-bottom: 6px solid orangered;
    height: 1px;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.titleDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleDiv h1 {
    margin: 8px;
    font-family: "Changa"
}

.watchListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.watchListings {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #c6bcf2;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.watchListings:hover {
    box-shadow: 2px 2px 4px 0px rgba(102,48,115,0.8);
    background-color: rgb(188, 176, 238);
    transition: 0.3s;
}

.faInfoCircle {
    font-size: 33px;
    position: relative;
    color: darkblue;
    right: 0px;
    top: 1px;
}

.infoButton {
    cursor: pointer;
    padding: 0;
    position: relative;
    border: none;
    background-color: #ffffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: 0.4s;
}

.infoButton:hover .faInfoCircle {
    color: rgb(79, 123, 255);
    transition: 0.4s;
}

.deleteButton {
    cursor: pointer;
    padding: 0;
    position: relative;
    border: none;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: 0.4s;
}

.deleteButton:hover .faSquareMinus {
    color: red;
    transition: 0.4s;
}

.faSquareMinus {
    font-size: 33px;
    position: relative;
    color: darkred;
    right: 0px;
    top: 0px;
}