.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: white;
    gap: 15px;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.Border {
    background: linear-gradient(34deg, rgba(49,0,55,1) 0%, rgba(199,24,166,1) 50%, rgba(98,21,180,1) 100%);
    /* background: linear-gradient(34deg, rgba(49,0,55,1) 0%, rgba(199,24,166,1) 50%, rgba(249,65,29,1) 100%); */
    padding: 6px;
    border-radius: 15px;
}

.boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.errorMessage {
    margin: 0px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

input[type] {
    width: 200px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.3s;
    font-size: 18px;
}

input[type]:focus {
    width: 210px;
    background-color: azure;
}

input[type=text]:focus + .faUser{
    transition: 0.2s;
    color: rgba(119, 91, 139, 0);
}

input[type=password]:focus + .faLock{
    transition: 0.2s;
    color: rgba(119, 91, 139, 0);
}

.errorArea {
    border: 2px solid red !important;
}

.button {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 34px;
    width: 160px;
    font-size: 18px;
    background-color: rgb(213, 182, 241);
    border: none;
    border-radius: 15px;
    transition: 0.3s;
    margin-bottom: 20px;
}

.button:hover {
    background-color: rgb(201, 158, 239);
    width: 170px;
    transition: 0.3s;
}

.IconInputHolder {
    position: relative;
}

.faUser {
    position: absolute;
    color: rgb(119, 91, 139);
    font-size: 20px;
    left: 8px;
    bottom: 5px;
    transition: 0.2s;
}

.faLock {
    position: absolute;
    color: rgb(119, 91, 139);
    font-size: 20px;
    left: 8px;
    bottom: 5px;
    transition: 0.2s;
}