<div *ngIf="currentMovie?.name" class="container">
    <div class="titleDiv">
        <h1>{{currentMovie?.name}}</h1>
        <div class="bottomBorder"></div>
    </div>
    <div class="informationContainer">
        <div class="ImageDiv">
            <img class="movieImage" src={{currentMovie?.picture}} alt="">
            <div class="yearAndIconDiv">
                <p> {{currentMovie?.year}}</p>
                <fa-icon class="calendarIcon" [icon]="faCalendarDays"></fa-icon>
            </div>
            <p class="genres">{{currentMovie?.genre}}</p>
        </div>
        <div class="details">
            <div class="staff">
                <p *ngIf="currentMovie?.actors">Actors: {{currentMovie?.actors}}</p>
                <p *ngIf="currentMovie?.director">Director: {{currentMovie?.director}}</p>
            </div>
            <section *ngIf="!seeMore" class="summarySection">
                <div class="upperBorderSummary"></div>
               <p>{{summary | slice:0:2000}} <button *ngIf="summary.length>=2000" (click)="seeMoreClickFunction()" class="seeMore">See More</button> </p> 
            </section>
            <section *ngIf="seeMore" class="summarySection">
                <div class="upperBorderSummary"></div>
               <p> {{summary}} <button (click)="seeMoreClickFunction()" class="seeMore">See less</button> </p> 
            </section>
        </div>
    </div>
    <div class="editDeleteButtons">
        <button class="buttons delete" (click)="deleteMovieFunction()">Delete</button>
        <a [routerLink]="['/Edit', currentMovie?._id]">
            <button class="buttons edit">Edit</button>
        </a>

    </div>
</div>
<div *ngIf="isLoaded" class="noMatchContainer">
    <div class="noMatch" *ngIf="!currentMovie?.name">
        <p class="notExistPar">Movie Doesn't Exist :(</p>
        <a routerLink="/Catalog">
            <button> Go Back</button>
        </a>
    </div>
</div>

