<div *ngIf="currentMovie?.name" class="container" >
    <div class="titleDiv">
        <h1>{{currentMovie?.name}}</h1>
        <div class="bottomBorder"></div>
    </div>
    <div class="informationContainer">
        <div class="ImageDiv">
            <div class="movieImageDiv">
                <img class="movieImage" src={{currentMovie?.picture}} alt="" appImageErrorDirective>
                <!-- <button *ngIf="hasWatched && currentUserId" (click)="addToWatchFunc()" class="WatchButton Remove"> <fa-icon class="faEye" [icon]="faEye"></fa-icon> Remove</button>
                <button *ngIf="!hasWatched && currentUserId" (click)="addToWatchFunc()" class="WatchButton Add">Add</button> -->
            </div>
            <div class="yearAndIconDiv">
                <p> {{currentMovie?.year}}</p>
                <fa-icon class="calendarIcon" [icon]="faCalendarDays"></fa-icon>
            </div>
            <p class="genres">{{currentMovie?.genre}}</p>
            <div *ngIf="currentUserId && currentMovie?.ownerId === currentUserId" class="editDeleteButtons">
                <button class="buttons delete" (click)="deleteMovieFunction()">Delete</button>
                <a [routerLink]="['/Edit', currentMovie?._id]">
                    <button class="buttons edit">Edit</button>
                </a>
            </div>
        </div>
        <div class="details">
            <div class="staff">
                <p *ngIf="currentMovie?.actors">Actors: {{currentMovie?.actors}}</p>
                <p *ngIf="currentMovie?.director">Director: {{currentMovie?.director}}</p>
            </div>
            <section *ngIf="!seeMore" class="summarySection">
                <div class="upperBorderSummary"></div>
                <p>{{summary | slice:0:2000}} <button *ngIf="summary.length>=2000" (click)="seeMoreClickFunction()"
                        class="seeMore">See More</button> </p>
            </section>
            <section *ngIf="seeMore" class="summarySection">
                <div class="upperBorderSummary"></div>
                <p> {{summary}} <button (click)="seeMoreClickFunction()" class="seeMore">See less</button> </p>

            </section>
            <div class="WatchButtonsDiv">
                <button *ngIf="hasWatched && currentUserId" (click)="addToWatchFunc()" class="WatchButton Remove">
                     Remove from watched <fa-icon class="faEye" [icon]="faEyeSlash"></fa-icon> </button>
                <button *ngIf="!hasWatched && currentUserId" (click)="addToWatchFunc()"
                    class="WatchButton Add">Add to watched <fa-icon class="faEye" [icon]="faEye"></fa-icon> </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoaded || !currentMovie" class="noMatchContainer">
    <div class="noMatch" *ngIf="!currentMovie?.name">
        <p class="notExistPar">Movie Doesn't Exist :(</p>
        <a routerLink="/Catalog">
            <button> Go Back</button>
        </a>
    </div>
</div>

<app-comments [currentUserId]="currentUserId" [hasError]="hasError"></app-comments>