<p>add-movie-page works!</p>
<div class="formDiv">
    <form class="formClass" [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
        <div class="containerNoButton">
            <div class="firstRow">
                <div >
                    <label>Movie Name</label>
                    <input id="name" [ngClass]="name?.invalid && isSubmitted ? 'errorArea' : ''" type="text" formControlName="name">
                    <p class="errorMessage" *ngIf=" (name?.hasError('required') || name?.hasError('trimValidator') ) && isSubmitted"> Please enter movie name</p>
                    <p class="errorMessage" *ngIf="name?.hasError('maxlength') && isSubmitted">
                         Name shouldn't exceed 20 characters.
                        </p>
                </div>
                <div>
                    <label>Picture</label>
                    <input [ngClass]="picture?.invalid && isSubmitted ? 'errorArea' : ''" type="text" formControlName="picture">
                </div>
                <div>
                    <label>Genre</label>
                    <input type="text" formControlName="genre">
                </div>
                <div>
                    <label>Year</label>
                    <input type="number" formControlName="year">
                </div>
                <div>
                    <label>Actors</label>
                    <input type="text" formControlName="actors">
                </div>
                <div>
                    <label>Director</label>
                    <input type="text" formControlName="director">
                </div>
            </div>
            <div class="secondRow">
                <label>Summary</label>
                <textarea name="summary" id="summary" formControlName="summary"></textarea>
            </div>
        </div>

        <button type="submit"> Add </button>
    </form>
</div>