<div class="profileContainer">
    <div class="titleDiv">
        <h1>{{username}}'s Profile</h1>
        <div class="bottomBorder"></div>
    </div>
    <div class="imageRoutesContainer">
        <a routerLink='MyMovies'>
            <div class="myMoviesDiv">
                <img class="image" src="../../../assets/your-name.jpg" alt="">
                <div class="OverlayDiv">
                    <p>Your movies</p>
                    <div class="bottomBorderOverlay"></div>
                </div>
            </div>
        </a>
        <a routerLink='MyWatchList'>
            <div class="myWatchDiv">
                <img class="image" src="../../../assets/johnWickPoster.jpg" alt="">
                <div class="OverlayDiv">
                    <p>Your watchlist</p>
                    <div class="bottomBorderOverlay"></div>
                </div>
            </div>
        </a>
    </div>
</div>