/* You can add global styles to this file, and also import other style files */
.MainBackground {
    /* background-image: url(./pawel-czerwinski-qIZMt-o2RIk-unsplash.jpg) ; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgb(41, 41, 41);
    /* background: linear-gradient(0deg, rgba(49,0,55,1) 0%, rgba(126,24,199,1) 50%, rgba(98,21,180,1) 100%); */
    /* background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); */
    background-image: url(./704147-website-wallpaper-top-free-website-background.png);
    background-size: cover;
}