<div class="NavBar">
  <div *ngIf="isLoggedIn" class="Protected">
    <a routerLink="/">
      <div>
      Home
      <div class="bottomBorder"></div>
    </div>
    </a>
    <a routerLink="Catalog">
      <div>
        Catalog
        <div class="bottomBorder"></div>
      </div>
    </a>
    <a routerLink="AddMovie">
      <div>
        Add movie
        <div class="bottomBorder"></div>
      </div>
    </a>
    <a routerLink="Profile">
      <div>
        Profile
        <div class="bottomBorder"></div>
      </div>
    </a>
    <button class="LogoutButton" (click)="logoutFunc()">
      Logout
      <div class="bottomBorderLogout"></div>
    </button>
  </div>
  <div *ngIf="!isLoggedIn" class="Open">
    <a routerLink="/">
      <div>
        Home
        <div class="bottomBorder"></div>
      </div>
    </a>
    <a routerLink="Catalog">
      <div>
        Catalog
        <div class="bottomBorder"></div>
      </div>
    </a>
    <a routerLink="Login">
      <div>
        Login
        <div class="bottomBorder"></div>
      </div>
    </a>
    <a routerLink="Register">
      <div>
        Register
        <div class="bottomBorder"></div>
      </div>
    </a>
  </div>
</div>